.title1 {
  padding: 100px 0px 50px;
  font-size: 3rem;
  margin: 0;
}
#grad1 {
  position: absolute;
  background-image: linear-gradient(to top, #090909 0%, #1e4459 100%) !important;
  color: white;

}
h1{
  font-size: 1.8rem;
}
hr {
  width: 10%;
  background-color: black;
}
.vertical {
  border-left: 4px solid white;
  height: 80%;
  position: absolute;
  left: 50%;
}

.div1 {
  width: 50%;
  float: right;
  text-align: left;
}
.object1 {
  padding: 0px 280px 0px 50px;
}
.object2 {
  padding: 0px 45px 0px 280px;
}
.div2 {
  width: 50%;
  float: left;
  text-align: right;
}

/* navbar */
.navbar1 {
  display: flex;
  background-color: #1e4459;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 1.3rem;
  top: 0;
}

a {
  margin: 10px;
  padding: 10px;
  color: white;
}
a:hover {
  background-color: #358597;
  color: black;
  border-radius: 4px;
}

